.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /* height: 150px; */
  padding: 20px;
  color: white;
}

.App-header h2 {
  margin: 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* NAV */
nav ul {
  list-style: none;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #1d1c1c;
}

nav li {
  display: inline-block;
  padding: 0 10px;
}

/* FORM */
form {
  display: inline-block;
  margin-bottom: 20px;
}

/* FOOTER */
footer {
  border-top: 1px solid #1d1c1c;
  padding-top: 30px;
}

/* POST */
.post {
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}

/* MAP */
.map {
  overflow: hidden;
}

.map > div {
  min-height: 500px;
}